@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
$inter:'Inter', sans-serif;
$noto:'Noto Sans KR', sans-serif;
$basic:#f5f5f5;
$gray:#545454;
$lightGray:#D9D9D9;
$black:#000;

body{padding:15.1vw 0 0 0; overflow-x:hidden; background:$basic;}
*{margin:0; padding:0; font-family:$inter;}
ul, li{list-style:none;}
a{text-decoration:none;
    &:focus, &:active{outline:none; box-shadow:none;}
}

@mixin conSize($wd:null, $hg:null, $lhg:null){width:$wd; height:$hg; line-height:$lhg;}
@mixin font($fs:null, $fw:null, $ff:null, $color:null){font-size:$fs; font-weight:$fw; font-family:$ff; color:$color;}
@mixin dis-flex($ai:null, $jc:null, $ff:null){display:flex; align-items:$ai; justify-content:$jc; flex-flow:$ff;}
@mixin position($pt:null, $top:null, $right:null, $bottom:null, $left:null, $zd:null){position:$pt; top:$top; right:$right; bottom:$bottom; left:$left; z-index:$zd;}
@mixin b_txt(){line-height:1.15; @include font(5.3vw, 400, null, $black);}
@mixin ss_txt(){@include font(1.05vw, 400, null, $black)}
@mixin ss_arrow(){@include dis-flex(flex-end, null, null); column-gap:0.7vw; @include font(1.1vw, 400, null, $black);
    span{@include conSize(2.43vw, 8px, null); display:block; position:relative; margin:0 0 5px 0;
        &::before, &::after{content:""; position:absolute; background:$black;}
        &::before{@include conSize(100%, 1px, null); left:0; bottom:0;}
        &::after{@include conSize(1px, 10px, null); right:3px; bottom:-1px; transform:rotate(-40deg);}
    }
}
@mixin increment(){position:relative; counter-increment:li-counter;
    &::before{content:counter(li-counter, decimal-leading-zero); padding:1vw 0 0 0; margin:0 1vw 0 0; @include ss_txt; font-size:1vw; border-bottom:1px solid $black;}
}

.at-header{@include conSize(calc(100% - 16vw), null); @include position(fixed, 6.551%, null, null, 0, 999); padding:0 8vw; transition:top .5s cubic-bezier(0.215, 0.61, 0.355, 1);
    .header-inner{@include conSize(null, 5.9vw, 5.9vw); @include dis-flex(center, space-between, null); padding:0 5vw 0 1.5vw; background:#E1E1E1; border-radius:15px;
        .logo-box{}
        .menu-ul{@include dis-flex(center, null, null); column-gap:2.6vw;
            a{@include font(1.3vw, 600, null, $black);}
        }
        .lang-ul{position:relative;
            & > li{@include dis-flex(center, null, null); 
                span{@include conSize(0.6vw, 1vw, null); @include dis-flex(center, null, null); position:relative; margin:0 0 0 .8vw;
                    &::before, &::after{content:''; @include conSize(100%, 2px, null); position:absolute; background:$black;}
                    &::before{right:.4vw; transform:rotate(45deg)}
                    &::after{transform:rotate(-45deg)}
                }
            }
            .lang-list{line-height:1; @include position(absolute, null, null, null, 50%, null); transform:translateX(-50%)}
        }
    }
    &.scroll{top:-6.551vw}
}

.container_wide{
    .section01{position:relative;
        &-inner{align-items:center;
            .swiper-slide{@include conSize(calc(100% - 472px), null, null); @include dis-flex(center, center, null); position:relative;
                .txt-box{@include position(absolute, 50%, null, null, 29%, 55); transform:translateY(-50%);
                    h1{@include b_txt; font-size:1.9vw; text-transform:uppercase;
                        & > span{display:flex; overflow:hidden;
                            
                            // & > span{transform:translateY(100%); transition:transform .8s cubic-bezier(0.215, 0.61, 0.355, 1);
                            //     @for $i from 1 to 9{
                            //         &:nth-child(#{$i}){transition-delay:$i / 20 + s;}
                            //     }
                            // }
                        }
                    }
                    p{padding:0.7vw 0 0 0; @include ss_txt;}
                }
                .img-box{@include conSize(30vw, 25vw, null); transform-origin:left; background:$gray; border-radius:30px; }
                &-active{margin-right:-43vw;
                    .txt-box{left:8%;
                        h1{@include b_txt; color:#121607;
                            & > span{
                                & > span{transform:translateY(0);}
                            }
                        } 
                    }
                    .img-box{@include conSize(51vw, 35vw, null); transform:scale(1)}
                }
            }
        }
        .arrow-box{@include conSize(10.77%, null, null); @include dis-flex(center, null, column); gap:1vw; @include position(absolute, 50%, 19vw, null, null, null); transform:translateY(-50%);
            & > div{@include conSize(100%, 45px, null); display:block; position:static; margin:0; padding:0; opacity:1;
                &::after{display:none;}
                span{@include conSize(100%, 100%, null); display:block; position:relative;
                    &::before, &::after{content:""; position:absolute; background:$black;}
                    &::before{@include conSize(100%, 5px, null); left:0;}
                }   
            }
            .swiper-button-prev{
                span{
                    &::before{bottom:0;}
                    &::after{@include conSize(5px, 60px, null); right:21px; bottom:-5px; transform:rotate(-45deg);}
                }
            }
            .swiper-button-next{
                span{
                    &::before{top:0;}
                    &::after{@include conSize(60px, 5px, null); left:-7px; bottom:19px; transform:rotate(45deg);}
                }
            }
        }
    }
    .section02{
        &-inner{padding:14.7vw 8vw 9.7vw 8vw;
            .keyword_box{@include dis-flex(center, center, null); column-gap:9vw;
                li{@include dis-flex(flex-start, null, null); @include increment; @include b_txt; text-transform:uppercase;
                    &::after{content:'/'; position:absolute; right:-5.5vw; font-weight:200;}
                    &:last-child{
                        &::after{display:none}
                    }
                }
            }
            .intro-txt-box{@include dis-flex(null, center, null); column-gap:1.5vw; margin:8vw 0 0 0;
                h1{@include dis-flex(null, null, null); column-gap:1.5vw; position:relative; @include font(2.7vw, 500, null, $black);
                    &::after{content:""; @include conSize(13.456vw, 2px, 2px); display:block; margin:2.5vw 0 0 0; background:$black;}
                }
                .content{
                    span{display:block; font-family:inherit}
                    b{font-family:inherit;}
                    h2{@include font(1.3vw, 400, $noto, null);}
                    p{line-height:1.5; margin:1.3vw 0 2vw; @include font(.95vw, 400, $noto, null);}
                    a{@include ss_arrow;}
                }
            }
            .img-box{@include conSize(100%, 7.81vw, 7.81vw); margin:4vw 0 0 0; background:#E1E1E1; border-radius:15px;}
        }
        &.ani{
            .intro-txt-box{
                .content{
                    b{font-weight:700}
                }
            }
        }
    }
    .section03{
        &-inner{
            .tit-box{@include dis-flex(center, space-between, null); padding:1.5vw 8vw; border:2px solid $black; border-left:0; border-right:0;
                p{@include ss_txt;}
                a{@include ss_arrow; @include ss_txt;}
            }
            .preview_box{
                li{@include dis-flex(flex-end, space-between, null); @include increment; padding:2vw 8vw; border-bottom:2px solid $black;
                    &::before{position:absolute; top:4vw; margin:0; padding:0;}
                    .intro-txt-box{@include dis-flex(center, null, null); column-gap:3.5vw;
                        h1{padding:0 0 0 2.5vw; @include b_txt; font-family:$noto;}
                        .img-box{@include conSize(20vw, 7.5vw, null); border-radius:10vw; background:$gray;}
                    }
                    .date-box{text-align:center;
                        span{@include ss_txt; font-size:.8vw;}
                        p{padding:0.3vw 0 0 0; @include font(1.05vw, 600, $noto, $black);}
                    }
                }
            }
        }
        .infinite-banner-box{position:relative; padding:1.9vw 0; white-space:nowrap; @include ss_txt; border-bottom:2px solid $black;
            .inner{@include dis-flex(center, null, null); column-gap:1.6vw; @include position(absolute, 50%, null, null, null, null); transform:translateY(-50%); margin:0 0 0 -30vw;
                span{display:block;}
            }
        }
    }
    .section04{padding:8.3vw 0 8.3vw 8vw;
        .timeline-head{
            h1{padding:0 0 3vw 0; @include b_txt; text-transform:uppercase;}
        }
        &-inner{overflow-y:hidden; overflow-x:scroll; 
            .timeline-wrap{width:3640px; display:grid; grid-auto-flow:dense; row-gap:12px; position:relative; z-index:1; padding:3vw 0 1vw 1.5vw; border-bottom:2px solid $black; 
                .timeline-ul{height:100%; display:grid; grid-template-columns:repeat(13, 280px); position:absolute; z-index:-1; border:2px solid $black;
                    li{padding:0.8vw 1.5vw; @include ss_txt; border-right:2px solid $black;}
                }
                .timeline{display:grid; background:$gray; border:2px solid $gray; border-radius:23px;
                    .schedule-head{min-width:300px; max-width:340px; padding:30px; background:#fff; border-radius:23px;
                        .txt-box{
                            h1{@include dis-flex(flex-end, null, null); padding:0 0 1.3vw 0; @include font(1.6vw, 400, $noto, $black);
                                p{@include font(1vw, inherit, inherit, inherit);}
                            }
                            & > p{position:relative; padding:0.5vw 0 1.46vw 0;
                                span{line-height:1.7; display:block; @include font(0.75vw, 400, $noto, null);}
                                &::before{content:""; @include conSize(10px, 2px, null); position:absolute; top:0; background:$black;}
                            }
                        }
                        a{max-width:100px; display:block; padding:0.4vw 0.5vw; margin:0 auto; margin-right:0; @include font(0.8vw, 400, null, $black); border:1px solid $black; border-radius:3vw; text-align:center;}
                    }
                    &_01{grid-column:1 / span 1}
                    &_02{grid-column:1 / span 1}
                    &_03{grid-column:3 / span 3}
                    &_04{grid-column:3 / span 3}
                }
            }
        }
        .timeline-link{padding:0 8.3vw 0 0; margin:5vw 0 0 0;
            & > div{@include dis-flex(center, space-between, null); padding:0.7vw; background:$gray; border-radius:20vw;
                .arrow{@include conSize(8vw, 8vw, null); @include dis-flex(center, center, null); background:#E9E9E9; border-radius:20vw;
                    span{@include conSize(calc(100% - 64px), 0.4vw, null); display:block; position:relative; background:$black;
                        &::before, &::after{content:""; @include conSize(2.38vw, 0.4vw, null); position:absolute; right:-8px; background:$black;}
                        &::before{bottom:.73vw; transform:rotate(45deg)}
                        &::after{top:.73vw; transform:rotate(-45deg)}
                    }
                }
                h1{padding:0 3vw 0 0; @include b_txt;}
            }
        }
    }
    .section05{padding:0 0 8.3vw 8vw;
        &-inner{
            h1{padding:0 0 3vw 0; @include b_txt;}
            .notice-box{
                li{
                    .date-box{margin:1.6vw 0 0 0;
                        p{margin:0 0 .4vw 0; @include font(1.05vw, 400, $noto, $black);}
                        span{display:block; @include font(14px, 400, null, $black);}
                    }
                    &:nth-child(odd){
                        .img-box{@include conSize(21vw, 27vw, null); background:$gray; border-radius:1.26vw;}
                    }
                    &:nth-child(even){
                        .img-box{@include conSize(21vw, 17vw, null); background:$gray; border-radius:1.26vw;}
                    }
                }
            }
        }
    }
    .section06{
        &-inner{
            .intro-txt-box{padding:8vw 0 4vw 8.3vw; background:$gray;
                h1{padding:0 0 0.6vw 0; @include b_txt; font-weight:500;}
                p{
                    span{line-height:1.1; display:block; @include font(4vw, 400, $noto, $black);}
                }
            }
            .map-box{@include dis-flex(null, space-between, null); padding:5vw 8.3vw 0 8.3vw; background:#161B0C;
                .sticker{@include conSize(null, 2.3vw, 2.4vw); display:block; padding:0 1.5vw; @include ss_txt; color:$gray; background:$lightGray; border-radius:10vw;}
                .map-toggle{@include conSize(300px, null, null); @include dis-flex(null, null, column); overflow:hidden; border-radius:1vw 1vw 0 0;
                    li{flex-grow:0; padding:1.5vw; background:#fff; border-bottom:1px solid $black;
                        .tit-box{@include dis-flex(null, null, null);}
                        .content-box{
                            span{display:block;}
                        }
                        &.active{flex-grow:1; background:$lightGray;}
                    }
                }
            }
        }
    }
    .section07{
        .infinite-banner-box{position:relative; padding:3vw 0; background:#ADADAD;
            .inner{@include dis-flex(center, null, null); column-gap:2.3vw; @include position(absolute, 50%, null, null, null, null); transform:translateY(-50%); margin:0 0 0 40vw;
                span{@include font(2.3vw, 400, null, $black); text-transform:uppercase;}
            }
        }
        &-inner{
            .sns-box{@include dis-flex(center, space-between, null); padding:5.5vw 8.3vw; background:$gray;}
            .sitemap-container{@include dis-flex(null, null, null); flex-flow:wrap; column-gap:1vw; padding:5.5vw 8.3vw;
                .sitemap_comm{padding:1.5vw; margin:0 0 -1px 0; border:1px solid $black; border-left:0; border-right:0;
                    .tit-box{@include dis-flex(center, space-between, null);
                        p{@include font(1.5vw, 400, $noto, $black);}
                        .arrow{@include conSize(1.3vw, 1.4vw, null); @include dis-flex(center, center, null); position:relative;
                            &::before, &::after{content:""; @include conSize(100%, 1px, null); position:absolute; background:$black;}
                            &::before{right:.89vw; transform:rotate(45deg)}
                            &::after{transform:rotate(-45deg)}
                        }
                    }
                }
                .half{@include conSize(calc(50% - 3.5vw), null, null);}
                .allmenu-wrap{@include conSize(100%, null, null);}
            }
        }
    }
    .section08{background:$gray;
        &-inner{padding:8.3vw}
    }
}